* {
    margin: 0;
    padding: 0;
}

body {
    background-color: royalblue;
}
.cabecalho {
    display: flex;
    align-items: center;
    background-color: blue;
    width: 1440px;
    height: 200px;
    border-bottom-right-radius: 10%;
}

.logo {
    width: 10%;
}

h1 {
    margin-left: 20%;
}

.texto-logo {
  color: white;
}